* {
  @import url("https://fonts.googleapis.com/css2?family=Bitter:wght@600&display=swap");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.goback a {
  position: absolute;
  top: 10%;
  left: 10%;
  transform: translate(-50%, -50%);
  display: block;
  width: 14%;
  padding: 10px 30px;
  cursor: pointer;
  background: linear-gradient(to right, #ff105f, #ffad06);
  border: 0;
  outline: none;
  border-radius: 10px;
  font-size: 1em;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 100;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
  text-align: center;
  box-shadow: 0 0 10px 10px #bcb7b7;
}
.goback a:hover{
   width:15%;
   box-shadow: 0 0 15px 15px #ffffff;
    transition: 1s;
}
.contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  background-color: #491f8f;
  height: 100vh;
  max-width: 100vw;
  padding: 0 15px;
}
.contact .first {
  width: 80vh;
  height: 40vh;
  border-radius: 25px;
  background-color: rgb(179, 72, 72);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.first .img {
  margin: 5px;
}
.first img {
  width: 10em;
  border-radius: 50%;
}
.first .write {
  margin: 5px;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.write h1 {
  font-size: 3em;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 100;
  letter-spacing: 5px;
  word-spacing: 5px;
  color: rgba(0, 0, 0, 0.8);
}
.write p {
  font-size: 1.5em;
  text-align: justify;
}

.contact .second {
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 50vw;
  height: 60vh;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.second h1 {
  font-size: 3em;
  font-weight: 100;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-transform: uppercase;
  color: rgb(203, 67, 67);
  letter-spacing: 5px;
  word-spacing: 5px;
}
.second .input-fields {
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 3px solid rgb(179, 72, 72);
  outline: none;
  background: transparent;
  color: #000000;
}
.second .input-fields::placeholder,
textarea::placeholder {
  color: #252323;
}
.second textarea {
  resize: none;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 3px solid rgb(179, 72, 72);
  background: transparent;
  outline: none;
  overflow: hidden;
}
textarea::-webkit-scrollbar {
  display: hidden;
}
.second .btn {
  width: 55%;
  padding: 10px 30px;
  cursor: pointer;
  background: linear-gradient(to right, #ff105f, #ffad06);
  border: 0;
  outline: none;
  border-radius: 30px;
}
.second .btn:hover{
    box-shadow: 0 0 5px 5px #bcb7b7;
    transition: .7s;
}

/* contact completed */


/* footer started */

.last {
  width: 100%;
  height: 40vh;
  background-color: rgb(173, 35, 35);
}
.footer-distributed {
  background-color: transparent;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px 0 50px;
}
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

.footer-distributed .footer-left {
  width: 40%;
}

.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px "Cookie", cursive;
  margin: 0;
}

.footer-distributed h3 span {
  color: #5383d3;
}

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}
.footer-links a:hover {
  color: #ff5722;
  transition: 0.4s 0.2s;
}

.footer-distributed .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}
.footer-center i:hover {
  color: #ff5722;
  transform: scale(1.2);
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: #5383d3;
  text-decoration: none;
}

.footer-distributed .footer-right {
  width: 20%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: #212121;
  border-radius: 2px;
  font-size: 30px;
  padding: 5px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
  align-items: center;
  transition: all 0.5s;
  transition-delay: 0.1s;
}
i {
  color: white;
  transform: scale(0.8);
  transition: all 0.5s;
  transition-delay: 0.1s;
}
a::before {
  content: "";
  position: absolute;
  transform: scale(0.6);
  background-color: #ff5722;
  z-index: -1;
  filter: blur(10px);
  transition: all 0.3s;
  transition-delay: o.1s;
}
a:hover i {
  color: #ff5722;
  transform: scale(1);
}
a:hover::before {
  transform: scale(0.8);
}
.copyright {
  margin-top: 0px;
  padding: 0.5em;
  width: 100%;
  background-color: #92999f;
  text-align: center;
}

@media (max-width: 880px) {
  .last {
    height: 90vh;
  }
  .footer-distributed {
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i {
    margin-left: 0;
  }
  .main {
    line-height: normal;
    font-size: auto;
  }
}
/* footer completed */
